<div class="container text-center">
    <%# @questions.each do |question| %>
    <div id="quizz">
        <p class="mt-4">
            <%= @questions.first.position %> -
            <%= @questions.first.title %>
        </p>
        <div class="row">
          <% @questions.first.answers.first.content.each_with_index do |content, index| %>
            <div class="answer col-6" style="order: <%= @randoms[index] %>" id="choice" data-index="<%= index %>">
              <%= content %>
            </div>
          <% end %>
        </div>
    </div>
    <%= link_to 'Question suivante', "#", class: 'btn btn-block btn-green mt-4 disabled', id: 'button-next' %>
    <%# end %>
</div>
