<div class="container text-center">
    <%# @questions.each do |question| %>
    <div id="quizz">
        <p class="mt-4">
            <%= @questions.first.position %> -
            <%= @questions.first.title %>
        </p>
        <div class="row">
          <% @questions.first.answers.each do |answer| %>
            <% while answer.content != [] %>
              <div class="answer col-6" id="choice" data-good="<%= answer.content[0] %>">
                <% proposal = answer.content.first %>
                <p> <%= proposal %> </p>
                <% index = answer.content.find_index(proposal) %>
                <% answer.content.delete_at(index) %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <%= link_to 'Question suivante', "#", class: 'btn btn-block btn-green mt-4 disabled', id: 'button-next' %>
    <%# end %>
</div>
