<div class="container text-center">
    <div id="quizz">
        <p class="mt-4">
            <%= @question.position %> -
            <%= @question.title %>
        </p>
        <div class="row">
          <% @question.answers[0].content.each_with_index do |content, index| %>
            <div class="answer col-6" style="order: <%= @randoms[index] %>" id="choice" data-index="<%= index %>">
              <%= content %>
            </div>
          <% end %>
        </div>
    </div>
    <% if @next_question.present? %>
      <%= link_to 'Question suivante', monument_question_path(@question.monument, @next_question), class: 'btn btn-block btn-green mt-4 disabled', id: 'button-next' %>
    <% else %>
      <%= link_to 'Fin du quiz', '#', class: 'btn btn-block btn-green mt-4 disabled', id: 'button-next' %>
    <% end %>
</div>

<!-- monument_question_path(params[:id][1].to_i + 1) -->
