<div class="container">
  <div class="d-flex justify-content-around mt-3">
    <div>
        <%= simple_form_for :query, url: user_chat_rooms_path(current_user), method: :post, :html => {:class => "form-inline"} do |f| %>
          <%= f.input :user_id, collection: @users, label: false %>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-green ml-1">Parlons !</button>
    </div>
    <% end %>
  </div>
  <div class="chatroom">
    <% @chat_rooms.each do |chat_room| %>
      <div class="chatbox d-flex">
        <%= link_to "/users/#{current_user.id}/chat_rooms/#{chat_room.id}" do %>
          <div class="notification">
            <%= cl_image_tag chat_room.user.photo, class: "avatar-small" %>
            <div class="notification-content">
              <p><%= chat_room.user.nickname %> - Niveau
              <%= chat_room.user.level %></p>
            </div>
          </div>
        <% end %>
        <div class="notification-actions">
            <%= link_to "/users/#{current_user.id}/chat_rooms/#{chat_room.id}", method: :delete, data: { confirm: "Are you sure you want to stop chatting with #{chat_room.user.nickname}?" } do %>
            <i class="fas fa-times-circle cross"></i>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
