<div class="container">
  <div class="chatroom">
    <% @chat_rooms.each do |chat_room| %>
      <%= link_to "/users/#{current_user.id}/chat_rooms/#{chat_room.id}" do %>
          <div class="notification d-flex">
            <%= cl_image_tag chat_room.user.photo, class: "avatar-large" %>
            <div class="notification-content">
              <p><%= chat_room.user.nickname %></p>
            </div>

            <div class="notification-actions">
              <%= link_to "/users/#{current_user.id}/chat_rooms/#{chat_room.id}", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="poubelle">
    <%= link_to new_user_chat_room_path(current_user.id) do %>
        <i class="fas fa-plus-square"
        style="
        font-size: 54px;
        color: green;
        position: absolute;
        bottom: 80px;
        right: 22px;">
    </i>
    <% end %>
  </div>
</div>
