<div class="container text-center">
   <div class="signin">
    <div class="mb-2">
      <%= image_tag('Q.png', width: 80) %>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs justify-content-between mx-2">
        <div class="d-flex">
          <div class="mr-1">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
             <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name,
                        label: false,
                        placeholder: "First name" %>
          </div>
          <div>
            <%= f.input :last_name,
                        label: false,
                        placeholder: "Last name" %>
          </div>
        </div>
            <%= f.input :nickname,
                        required: true,
                        label: false,
                        placeholder: "Username" %>
            <%= f.input :photo,
                        label: false %>
            <%= f.input :description,
                        label: false,
                        placeholder: "Tell us about you" %>
            <%= f.input :photo_cache, as: "hidden" %>
            <%= f.input :current_password,
                  required: true,
                  label: false,
                  placeholder: "Retype Password",
                  input_html: { autocomplete: "current-password" } %>

        <div class="form-actions">
          <%= f.button :submit, "Edit", class: "btn btn-green text-white font-weight-bolder w-100 mb-2" %>
        </div>
      </div>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
  </div>
</div>
