<div class="container text-center">
   <div class="signup">
    <div class="m-2">
      <%= image_tag('logo.png', width: 80) %>
      <h1 class="title-qultur">QultuR</h1>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs justify-content-between mx-2">
        <div class="d-flex">
          <div class="mr-1 w-100">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
             <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name,
                        label: false,
                        placeholder: "Prénom" %>
          </div>
          <div class="w-100">
            <%= f.input :last_name,
                        label: false,
                        placeholder: "Nom" %>
          </div>
        </div>
            <%= f.input :nickname,
                        required: true,
                        label: false,
                        placeholder: "Nom d'utilisateur" %>
            <%= f.input :age,
                        label: false,
                        required: true,
                        placeholder: "Age" %>
            <%= f.input :photo,
                        label: false %>
            <%= f.input :description,
                        label: false,
                        placeholder: "Décris-toi en 200 caracteres" %>
            <%= f.input :photo_cache, as: "hidden" %>
            <%= f.input :current_password,
                  required: true,
                  label: false,
                  placeholder: "Mot de passe",
                  input_html: { autocomplete: "current-password" } %>

        <div class="form-actions">
          <%= f.button :submit, "Modifier", class: "btn btn-green text-white font-weight-bolder w-100 mb-2" %>
        </div>
      </div>
      <%= link_to "Supprime ton compte", registration_path(resource_name), data: { confirm: "Supprimer le compte?" }, method: :delete %>
    <% end %>
  </div>
</div>
