<div class="container text-center">
  <div class="signin">
    <div class="m-2">
      <%= image_tag('logo.png', width: 80) %>
      <h1 class="title-qultur">QultuR</h1>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs mx-2">
        <div class="d-flex justify-content-around">
          <div class="w-100 mr-1">
            <%= f.input :first_name,
                        label: false,
                        autofocus: true,
                        placeholder: "Prénom" %>
          </div>
          <div class="w-100">
            <%= f.input :last_name,
                        label: false,
                        placeholder: "Nom" %>
          </div>
        </div>
        <%= f.input :nickname,
                    required: true,
                    label: false,
                    placeholder: "Nom d'utilisateur" %>
        <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder: "Bob@exemple.com",
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "Mot de passe",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "Confirmez votre mot de passe",
                    input_html: { autocomplete: "new-password" } %>

        <div class="form-actions">
          <%= f.button :submit, "S'inscrire", class: "btn btn-block btn-green mb-2" %>
          <p>Déjà inscrit?</p>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
