<div id="map-navigation"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-monumentlongitute="<%= "#{@monument.longitude}" %>"
  data-monumentlatitude="<%= "#{@monument.latitude}" %>">
  <div id="distance-div", style="display: none;"> <%= image_tag("bicycle-duo.gif", width: 60, height: 60, id:"icon")%> <h4 id="distance-field"></h3></div>
</div>
