<div class="container">

  <div class="card-monument">
    <%= image_tag @monument.photo %>
    <h1><%= @monument.name %></h1>
    <div>
      <p> <%= @monument.description %> </p>
    </div>
    <!-- Test if monument is already captured by current_user -->
      <% if @monument.questions.present? %>
        <%= link_to 'Commencer le quiz', monument_question_path(@monument, @monument.questions.find_by(position: 1)), class: 'btn btn-block btn-green' %>
      <% else %>
        <%= link_to 'Retour à la collection', monuments_path, class: 'btn btn-block btn-green' %>
      <% end %>
  </div>
</div>

