<div class="container mt-2">
  <div class="info-bg pb-3">
    <div class="d-flex justify-content-start align-items-end">
      <% if @receiver.photo.file.nil? %>
        <div class="avatar-user">
          <%= cl_image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ137OO1cEyky0WKe3HS3KZpkDjk1Ex06k-CaX0K_TiCIre5XTiYg", class: 'avatar-large my-3' %>
          <span class="level"><%= @receiver.level %></span>
        </div>
      <% else %>
        <div class="avatar-user">
          <%= cl_image_tag @receiver.photo, class: 'avatar-large my-3' %>
          <span class="level"><%= @receiver.level %></span>
        </div>
      <% end %>
      <div class="m-4">
        <h4 id="nickname"><%= @receiver.nickname %></h4>
        <p class="m-0"><%= @receiver.first_name %> <%= @receiver.last_name %></p>
        <% unless @receiver.age.nil? %>
          <em><small><%= @receiver.age %> ans</small></em>
        <% end %>
      </div>
    </div>

    <p id="description-profile"><%= @receiver.description %></p>
  </div>

  <form action="/users/gift/<%= "#{@receiver.id}" %>" method="post" class="form-example">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <label for="coins">Combien de pièces voulez-vous offrir à <%= @receiver.nickname %> ?</label>
    <input type="number" name="coins" id="coins" max="<%= "#{current_user.coins}" %>" placeholder="maximum de <%= current_user.coins %> pièces" required>
    <input type="submit" value="Envoyer !" class="btn btn-block btn-green mt-4">
  </form>
</div>
