<div class="container mt-4">

  <%= simple_form_for :query, url: user_path(2), method: :get do |f| %>
    <%= select("post", "person_id", @users.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "search-bar") %>
    <%= f.submit %>
  <% end %>

  <% current_user.following.each do |follower| %>

    <%= link_to user_path(follower) do %>
      <div class="info-bg pb-3">
        <div class="d-flex justify-content-start align-items-end">

          <% if follower.photo.file.nil? %>
            <%= cl_image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ137OO1cEyky0WKe3HS3KZpkDjk1Ex06k-CaX0K_TiCIre5XTiYg", class: 'avatar border my-3' %>
          <% else %>
            <%= cl_image_tag follower.photo, class: 'avatar border my-3' %>
          <% end %>

          <div class="d-flex justify-content-around w-100">
            <h2><%= follower.nickname %></h2>
            <div>
              <p class="m-0"><%= follower.first_name %> <%= follower.last_name %></p>
              <% unless follower.age.nil? %>
                <em><small><%= follower.age %> ans</small></em>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

</div>

