<div class="container mt-2">
  <div class="info-bg pb-3">
    <div class="d-flex justify-content-start align-items-end">
      <% if @user.photo.file.nil? %>
        <div class="avatar-user">
          <%= cl_image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ137OO1cEyky0WKe3HS3KZpkDjk1Ex06k-CaX0K_TiCIre5XTiYg", class: 'avatar-large my-3' %>
          <span class="level"><%= @user.level %></span>
        </div>
      <% else %>
        <div class="avatar-user">
          <%= cl_image_tag @user.photo, class: 'avatar-large my-3' %>
          <span class="level"><%= @user.level %></span>
        </div>
      <% end %>
      <div class="m-4">
        <h4 id="nickname"><%= @user.nickname %></h4>
        <p class="m-0"><%= @user.first_name %> <%= @user.last_name %></p>
        <% unless @user.age.nil? %>
          <em><small><%= @user.age %> ans</small></em>
        <% end %>
      </div>
    </div>

    <p id="description-profile"><%= @user.description %></p>
  </div>

  <div class="stats">

      <div class="d-flex justify-content-center">
        <p> XP </p>
      </div>
      <div class="xp-bar d-flex align-items-center mb-3">
        <p id="paraone"><%= @user.exp % 100 %>%</p>
        <div class="xp-bar-progress" style="width: <%= @user.exp %>%"></div>
      </div>

      <div class="d-flex justify-content-center">
        <p> Total bonnes réponses </p>
      </div>
      <div class="xp-bar d-flex align-items-center mb-3">
        <p id="paratwo"><%= @total_good_answer %>/<%= Monument.all.count * 10 %></p>
        <div class="xp-bar-progress" style="width: <%= @total_good_answer * 2 %>%"></div>
      </div>

      <div class="d-flex justify-content-center">
        <p> Monuments capturés </p>
      </div>
      <div class="xp-bar d-flex align-items-center mb-3">
        <p id="parathree"><%= @captured_monuments.count %>/<%= Monument.all.count %></p>
        <div class="xp-bar-progress" style="width: <%= @x %>%"></div>
      </div>


  </div>

  <div class="buttons-profile">
    <div class="d-flex align-items-end">
      <% if user_signed_in? && @user == current_user %>
        <%= link_to "Modifier", edit_user_registration_path, class: 'btn btn-block btn-outline-green mx-2' %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn btn-block btn-green mr-2 pt-2' %>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <% if @user != current_user %>
        <div>
          <% if current_user.is_following?(@user.id) %>
            <%= link_to "Se désabonner", unfollow_user_path(@user.id), method: :post, class: 'btn btn-block btn-outline-green ml-2', style:"width: 95%" %>
          <% else %>
            <%= link_to "S'abonner", follow_user_path(@user.id), method: :post, class: 'btn btn-block btn-outline-green ml-2', style:"width: 95%" %>
          <% end %>
        </div>

        <div class="d-flex align-items-end">
          <a href="#" class="modal-trigger btn btn-block btn-green ml-2" data-modal="modal-name">Don <%= image_tag("coins.png", width: 25, height: 25, class: 'coin-logo')%></a>
          <%= link_to "Chat", user_chat_rooms_path(current_user), method: :get, class: 'btn btn-block btn-green mx-2' %>
        </div>


        <div class="modal" id="modal-name">
          <div class="modal-sandbox"></div>
          <div class="modal-box">
            <div class="modal-body text-center">
              <form action="/users/gift/<%= "#{@user.id}" %>" method="post" class="form-example">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <label class= "mb-0" for="coins"><h4>Don à <%= @user.nickname %></h4></label>
                <br>
                <%= image_tag("coins.png", width: 80, height: 80, class: 'mb-2')%>
                <input type="number" name="coins" id="coins" max="<%= "#{current_user.coins}" %>" placeholder="Maximum de <%= current_user.coins %> pièces" required>
                <input type="submit" value="Envoyer !" class="btn btn-green mt-2" id="button-gift">
              </form>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
