<div class="container mt-4">
  <div class="info-bg pb-3">
    <div class="d-flex justify-content-start align-items-end">
      <% if @user.photo.file.nil? %>
        <div class="avatar-user">
          <%= cl_image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ137OO1cEyky0WKe3HS3KZpkDjk1Ex06k-CaX0K_TiCIre5XTiYg", class: 'avatar-large my-3' %>
        </div>
      <% else %>
        <div class="avatar-user">
          <%= cl_image_tag @user.photo, class: 'avatar-large my-3' %>
          <span class="level"><%= @user.level %></span>
        </div>
      <% end %>
      <div class="m-4">
        <h4 id="nickname"><%= @user.nickname %></h4>
        <p class="m-0"><%= @user.first_name %> <%= @user.last_name %></p>
        <% unless @user.age.nil? %>
          <em><small><%= @user.age %> ans</small></em>
        <% end %>
      </div>
    </div>

    <p><%= @user.description %></p>

    <div class="xp-bar d-flex align-items-center mb-5">
      <p>XP</p>
      <div class="xp-bar-progress" style="width: <%= @user.exp %>%"></div>
    </div>

    <div class="d-flex align-items-end">
      <% if user_signed_in? && @user == current_user %>
        <%= link_to "Edit", edit_user_registration_path, class: 'btn btn-block btn-outline-green mx-2' %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-block btn-green mx-2' %>
      <% end %>
    </div>

    <div class="d-flex align-items-end">
      <% if @user != current_user %>
        <%= link_to "Chat", user_chat_rooms_path(current_user), method: :get, class: 'btn btn-block btn-green' %>
        <% if current_user.is_following?(@user.id) %>
          <%= link_to "Se désabonner", unfollow_user_path(@user.id), method: :post, class: 'btn btn-block btn-outline-green mx-2' %>
        <% else %>
          <%= link_to "S'abonner", follow_user_path(@user.id), method: :post, class: 'btn btn-block btn-outline-green mx-2' %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
