<div class="container h-100">
  <div class="d-flex justify-content-between">
    <div class="avatar avatar-big">
      <%= cl_image_tag @user.photo, width: 100%>
    </div>
    <div class="information text-left">
      <h2><%= @user.nickname %></h2>
      <h3><%= @user.first_name %></h3>
      <h3><%= @user.last_name %></h3>
      <h3><%= @user.age %></h3>
      <p><%= @user.description %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <%= link_to "Edit", edit_user_registration_path %>
  <% end %>
</div>
