<div class="container">
  <div class="signin">
    <h2 class="mt-4">Mot de passe oublié?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Envoyez-moi les instructions de nouveau mot de passe", class: 'btn btn-block btn-green' %>
      </div>
    <% end %>

    <div class="d-flex justify-content-start mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
