<div class="container text-center" id="levelup" data-exp="<%= @current_user_total_xp %>" data-level="<%= current_user.level %>">
  <div class="m-2">
    <%= image_tag('logo.png', width: 80) %>
    <h1 class="title-qultur">QultuR</h1>
  </div>

  <%= image_tag @hunt.monument.photo, class: 'avatar-large' %>

  <% if @score >= 5 %>
    <h2 class="mt-5">Félicitations! <i class="fas fa-medal"></i></h2>
    <p>Tu as réussi le quiz avec un score de :</p>
    <h2><%= @score %> / 10</h2>
  <% else %>
    <h2 class="mt-5">Désolé! <i class="fas fa-sad-cry"></i></h2>
    <p>Tu n'as pas réussi le quiz... Tu as un score de :</p>
    <h2><%= @score %> / 10</h2>
  <% end %>

  <%= link_to 'Retour', monuments_path, class: 'btn btn-block btn-green mt-5 mb-2' %>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pyro">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="d-flex justify-content-between">
                    <%= image_tag("cup.png", width: 100, height: 120) %>
                    <div class="info-level-up text-left">
                      <h4>Félicitations!</h4>
                      <p>Tu as gagné <strong>1</strong> niveau :</p>
                      <p>Tu es maintenant niveau <strong><%= @current_user.level %></strong></p>
                    </div>
                  </div>
                <div class="before">
                <div class="after">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
