<div class="container navbar-bottom">
  <div class="item">
    <div class="front">
      <%= link_to root_path, class: 'active' do %>
        <!-- <i class="fas fa-map-marker-alt"></i> -->
      <%= image_tag 'https://image.flaticon.com/icons/svg/1527/1527576.svg', class: 'icons' %>
      <% end %>
    </div>
    <div class="back">
      <!-- <i class="fas fa-map-marker-alt"></i> -->
      <%= image_tag 'https://image.flaticon.com/icons/svg/1527/1527576.svg', class: 'icons' %>
    </div>
  </div>
  <div class="item">
    <div class="front">
      <%= link_to monuments_path do %>
        <!-- <i class="fas fa-landmark"></i> -->
        <%= image_tag 'https://image.flaticon.com/icons/svg/533/533471.svg', class: 'icons' %>
      <% end %>
    </div>
    <div class="back">
      <!-- <i class="fas fa-landmark"></i> -->
      <%= image_tag 'https://image.flaticon.com/icons/svg/533/533471.svg', class: 'icons' %>
    </div>
  </div>
  <div class="item">
    <div class="front">
      <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
        <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
        <form action="<%= scanned_path %>">
          <label class=qr-button>
            <!-- <i class="fas fa-qrcode"></i> -->
            <%= image_tag 'https://image.flaticon.com/icons/svg/2067/2067311.svg', class: 'icons' %>
            <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
          </label>
        </form>
      <% end %>
    </div>
    <div class="back">
      <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
        <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
        <form action="<%= scanned_path %>">
          <label class=qr-button>
            <!-- <i class="fas fa-qrcode"></i> -->
            <%= image_tag 'https://image.flaticon.com/icons/svg/2067/2067311.svg', class: 'icons' %>
            <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
          </label>
        </form>
      <% end %>
    </div>
  </div>
  <div class="item">
    <div class="front">
      <%= link_to users_path do %>
        <!-- <i class="fas fa-users"></i> -->
        <%= image_tag 'https://image.flaticon.com/icons/svg/417/417782.svg', class: 'icons' %>
      <% end %>
    </div>
    <div class="back">
      <!-- <i class="fas fa-users"></i> -->
      <%= image_tag 'https://image.flaticon.com/icons/svg/417/417782.svg', class: 'icons' %>
    </div>
  </div>
  <div class="item">
    <div class="front">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <!-- <i class="fas fa-user"></i> -->
          <%= image_tag 'https://image.flaticon.com/icons/svg/1246/1246458.svg', class: 'icons' %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <!-- <i class="fas fa-user"></i> -->
          <%= image_tag 'https://image.flaticon.com/icons/svg/1246/1246458.svg', class: 'icons' %>
        <% end %>
      <% end %>
    </div>
    <div class="back">
      <!-- <i class="fas fa-user"></i> -->
      <%= image_tag 'https://image.flaticon.com/icons/svg/1246/1246458.svg', class: 'icons' %>
    </div>
  </div>
</div>
