<div class="footer d-flex justify-content-around align-items-center">
  <%= link_to root_path, class: 'active' do %>
    <i class="fas fa-map-marker-alt"></i>
  <% end %>
  <%= link_to '#monuments' do %>
    <i class="fas fa-landmark"></i>
  <% end %>


  <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
    <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
    <form action="<%= scanned_path %>">
      <label class=qr-button>
        <!-- <i class="fas fa-qrcode"></i> -->
        <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
      </label>
    </form>
  <% end %>


  <%= link_to '#community' do %>
    <i class="fas fa-users"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% end %>
</div>
