<div class="bottom-navbar d-flex justify-content-around align-items-center">
  <%= link_to root_path, class: 'active' do %>
    <i class="fas fa-map-marker-alt"></i>
  <% end %>
  <%= link_to '#monuments' do %>
    <i class="fas fa-landmark"></i>
  <% end %>
  <%= link_to 'scans#index', class: 'qr-button' do %>
    <i class="fas fa-qrcode"></i>
  <% end %>
  <%= link_to '#community' do %>
    <i class="fas fa-users"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% end %>
</div>
