<!-- <div class="bottom-navbar d-flex justify-content-around align-items-center">
  <%= link_to root_path, class: 'active' do %>
    <i class="fas fa-map-marker-alt"></i>
  <% end %>
  <%= link_to monuments_path do %>
    <i class="fas fa-landmark"></i>
  <% end %>


  <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
    <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
    <form action="<%= scanned_path %>">
      <label class=qr-button>
        <i class="fas fa-qrcode"></i>
        <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
      </label>
    </form>
  <% end %>


  <%= link_to users_path do %>
    <i class="fas fa-users"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% end %>
</div>

 -->


<div class="container navbar-bottom">
  <div class="item">
    <div class="front">
      <%= link_to root_path, class: 'active' do %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
    </div>
    <div class="back"><i class="fas fa-map-marker-alt"></i></div>
  </div>
  <div class="item">
    <div class="front">
      <%= link_to monuments_path do %>
        <i class="fas fa-landmark"></i>
      <% end %>
    </div>
    <div class="back"><i class="fas fa-landmark"></i></div>
  </div>
  <div class="item">
    <div class="front">
      <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
        <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
        <form action="<%= scanned_path %>">
          <label class=qr-button>
            <i class="fas fa-qrcode"></i>
            <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
          </label>
        </form>
      <% end %>
    </div>
    <div class="back">
      <%= form_with(url: scanned_path, method: "post", class: "qr-code-form") do |f| %>
        <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
        <form action="<%= scanned_path %>">
          <label class=qr-button>
            <i class="fas fa-qrcode"></i>
            <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
          </label>
        </form>
      <% end %>
    </div>
  </div>
  <div class="item">
    <div class="front">
      <%= link_to users_path do %>
        <i class="fas fa-users"></i>
      <% end %>
    </div>
    <div class="back"><i class="fas fa-users"></i></div>
  </div>
  <div class="item">
    <div class="front">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-user"></i>
        <% end %>
      <% end %>
    </div>
    <div class="back"><i class="fas fa-user"></i></div>
  </div>
</div>
