<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-md-between">
    <div>
      <%= image_tag ('logo.png'), class: 'logo' %>
    </div>
    <div class="information d-flex">
      <div class="coins d-flex mr-3 align-items-center">
        <%= image_tag("coins.png", width: 30, height: 30)%>
        <p id="coin"><%= current_user.coins %></p>
      </div>
      <%= link_to "/users/#{current_user.id}/chat_rooms" do %>
        <!-- <i class="far fa-comments"></i> -->
        <%= image_tag 'https://image.flaticon.com/icons/svg/134/134932.svg', class: 'msg-icon' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-md-between" style="height: 51px;">
    <div>
      <%= image_tag ('logo.png'), class: 'logo' %>
    </div>
  </div>
<% end %>
