<div class="container text-center">
  <div class="signup">
    <div class="m-2">
      <%= image_tag('logo.png', width: 80) %>
      <h1>QultuR</h1>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs justify-content-between mx-2">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Bob@exemple.com",
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      placeholder: "Mot de passe",
                      input_html: { autocomplete: "current-password" } %>
            <div class="d-flex justify-content-between">
              <small class="w-100"><%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %></small>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <small class="forget-password w-100"><%= link_to "Mot de passe oublié?", new_password_path(resource_name) %></small><br />
              <% end %>
            </div>

          <div class="form-actions">
            <%= f.button :submit, "Se connecter", class: "btn btn-block btn-green mb-2" %>
            <table width="100%">
              <tr>
                <td><hr /></td>
                <td style="width:1px; white-space: nowrap;">OU</td>
                <td><hr /></td>
              </tr>
            </table>​
            <p class="mb-0">Pas encore inscrit?</p>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>

